:root {
  --offBlack: #222222;
}

.topnav {
  overflow: hidden;
  float: none;
  position: absolute;
  margin: auto;
  margin-left: 31%;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: var(--offBlack);
  text-align: center;
  padding: 38px 16px;
  text-decoration: none;
  font-size: 1.2em; /* currently ems cause chrome bug misinterpreting rems on body element */
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: var(--offBlack);
  color: white;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: var(--offBlack);
  color: white;
}

.topnav .icon {
  display: none;
}

.top-container {
  margin-top: 15%;
}

@media screen and (max-width: 600px) {
  .topnav a {
    display: none;
  }
  .topnav a.active {
    display: block;
    background-color: white;
    color: var(--offBlack);
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a.active {
    background-color: var(--offBlack);
    color: white;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .top-container {
    margin-top: 30%;
  }
}

.fade_short {
  animation: fadein 1s;
  -webkit-animation: fadein 1s; /* Safari and Chrome */
}

.fade_medium {
  opacity: 0;
  animation: fadein 1s;
  animation-delay: 1s;
  -webkit-animation: fadein 1s; /* Safari and Chrome */
  -webkit-animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
}

.fade_long {
  opacity: 0;
  animation: fadein 1s;
  animation-delay: 2s;
  -webkit-animation: fadein 1s; /* Safari and Chrome */
  -webkit-animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
}
@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
